body {
    margin: 0;
    background: #f4f6fb;
    font-family: "Inter", sans-serif;
}

.navbar {
    background: #243763;
    padding: 14px 24px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.container {
    padding: 30px;
}

.section-title {
    margin: 10px 0 14px 0;
    font-size: 22px;
    color: #243763;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 22px;
}

.card {
    background: white;
    border-radius: 14px;
    padding: 20px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.08);
}

.card h3 {
    margin-top: 0;
    font-size: 16px;
    margin-bottom: 12px;
    color: #3d3d3d;
}

.summary-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.summ-card {
    background: white;
    padding: 18px;
    text-align: center;
    border-radius: 14px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.07);
}

.scroll-x {
    overflow-x: scroll;
}

/* Membatasi tinggi card agar chart proporsional */
.card canvas {
    width: 100% !important;
    height: 300px !important;   /* tinggi stabil */
}

/* agar column tidak maksa melebar */
.grid-2 {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

/* mencegah canvas mengikuti tinggi card dinamis */
.card {
    padding: 15px;
    height: auto;
}

.gender-row {
    font-weight: 600;
    padding: 4px 0;
}

.gender-row.male {
    color: #4361ee;
}

.gender-row.female {
    color: #f72585;
}

.navbar {
    background: #243763;
    color: white;
    padding: 14px 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    box-shadow: 0 2px 12px rgba(0,0,0,0.2);
}

.nav-right a {
    color: white;
    margin-left: 22px;
    text-decoration: none;
    font-size: 15px;
    transition: 0.25s;
}

.nav-right a:hover {
    color: #a3baff;
    transform: translateY(-2px);
}

.card {
    animation: fadeCard 0.8s ease;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 18px rgba(0,0,0,0.12);
}

@keyframes fadeCard {
    from {
        opacity: 0;
        transform: translateY(25px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
